<section id="contact-form">
    <div class="row">
      <div class="section-title">
        <h2><i class="fa fa-user"></i>Register</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">
        <div class="row">
          <div class="col s6 offset-s3">
            <form [formGroup]="registrationForm" (submit)="register()">
              <div class="col s12" style="padding-left:0;padding-right: 0;">
                <div class="input-field col s6">
                  <input type="text" class="validate" formControlName="firstName" id="firstName">
                  <label for="firstName">First Name</label>
                  <span *ngIf="registrationForm.get('firstName').touched && registrationForm.get('firstName').errors">
                    <h6 class="pink-text text-lighten-1">First Name is required</h6>
                  </span>
                </div>



                <div class="input-field col s6">
                  <input type="text" class="validate" formControlName="lastName" id="lastName">
                  <label for="lastName">Last Name</label>
                  <span *ngIf="registrationForm.get('lastName').touched && registrationForm.get('lastName').errors">
                    <h6 class="pink-text text-lighten-1">Last Name is required</h6>
                  </span>
                </div>
              </div>

              <div class="input-field col s12">
                <input type="text" class="validate" formControlName="username" id="username">
                <label for="username">Email</label>
                <span *ngIf="registrationForm.get('username').touched && !registrationForm.controls.username.valid">
                                <span *ngIf="registrationForm.get('username').hasError('required');else invalidEmailFormst">
                                  <h6 class="pink-text text-lighten-1">Email is required</h6></span>
                                <ng-template #invalidEmailFormst>
                                  <h6 class="pink-text text-lighten-1">Invalid email format</h6>
                                 </ng-template>
                </span>
              </div>

              <div class="input-field col s12">
                <input type="password" class="validate" formControlName="password" id="password">
                <label for="password">Password</label>
                <span *ngIf="registrationForm.get('password').touched && !registrationForm.controls.password.valid">
                   <span *ngIf="registrationForm.get('password').hasError('required');else passwordLenghtValidation">
                        <h6 class="pink-text text-lighten-1">Password is required</h6>
                                </span>
                                <ng-template #passwordLenghtValidation>
                                  <h6 class="pink-text text-lighten-1">Password should be of at least {{minPassLength}} characters</h6>
                                </ng-template>
                </span>
              </div>

              <div class="input-field col s12">
                <input type="password" class="validate" formControlName="retypePassword" id="retypePassword">
                <label for="retypePassword">Retype Password</label>
                <span *ngIf="registrationForm.get('retypePassword').touched && !registrationForm.controls.retypePassword.valid">
                    <span *ngIf="registrationForm.get('retypePassword').hasError('required')">
                      <h6 class="pink-text text-lighten-1">Please retype your password</h6>
                    </span>
                    <span *ngIf="!registrationForm.get('retypePassword').hasError('required') && (registrationForm.get('retypePassword').value != registrationForm.get('password').value)">
                      <h6 class="pink-text text-lighten-1">Passwords don't match</h6>
                    </span>
                </span>
              </div>
              <div class="col s12 center-align">
                <button type="submit" [disabled]="!registrationForm.valid || (registrationForm.get('retypePassword').value == registrationForm.get('password'))" class="waves-effect waves-light btn-large">Register</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

</section>


<!--<small>header small text goes here...</small></h1>-->

