<div class="row">
<ul id="slide-out" class="side-nav fixed" >
  <li><div class="user-view">
    <div class="background">
      <img src="assets/theme/images/6.jpg">
    </div>
    <img class="circle" src="assets/theme/images/proflpic.jpg">
    <span class="white-text name">{{userdata['firstName']}} {{userdata['lastName']}}</span>
    <span class="white-text email">{{userdata['userName']}}</span>
  </div></li>
  <li><a class="subheader">Profile</a></li>

  <li><a href="#!">Settings</a></li>

  <li><div class="divider"></div></li>
  <li><a class="subheader">Manage Ads</a></li>
  <li><a href="javascript:void(0)" (click)="profileView='CREATEEXCHANGE'">Create Ad</a></li>
  <li><a href="#!">View Your Ads</a></li>
</ul>

  <div class="col s10 m10 l10 offset-l2 offset-m2 offset-s2">
    <div class="row" *ngIf="profileView=='CREATEEXCHANGE'">
      <create-exchange></create-exchange>
    </div>
  </div>
</div>
