  <div class="section-title">
    <h2><i class="fa fa-archive"></i>Product Details</h2>
  </div>

  <div class="contact-form z-depth-1">
    <div class="row">
      <form [formGroup]="createAdForm" id="contactForm" (submit)="createAdd()">
        <div class="input-field col m8 s12">
          <label for="itemName" class="h4 active">PName *</label>
          <input id="itemName" type="text" placeholder="" formControlName="itemName">
          <span class="center brown-text" *ngIf="createAdForm.get('itemName').touched && createAdForm.get('itemName').errors">
            Product's name is required
          </span>
        </div>
        <div class="input-field col m4 s12">
          <label for="itemQuantity" class="h4 active">Quantity *</label>
          <input id="itemQuantity" type="number" placeholder="" formControlName="itemQuantity">
          <span class="center brown-text" *ngIf="createAdForm.get('itemQuantity').touched ">
            <span *ngIf="createAdForm.get('itemQuantity').errors && createAdForm.get('itemQuantity').errors.required">
              Product's quantity is required
            </span>
            <span *ngIf="createAdForm.get('itemQuantity').errors && createAdForm.get('itemQuantity').errors.min">
              Min quantity unit is 1
            </span>
          </span>
        </div>
        <div class="input-field col m8 s12">
          <label for="itemPurchasedDate" class="h4 active">Purchased On *</label>
          <input id="itemPurchasedDate" type="text" materialize="pickadate" placeholder=""
                 class="form-control validate" data-error="NEW ERROR MESSAGE" formControlName="itemPurchasedDate"
                 [materializeParams]="[{format:'dd/mmm/yyyy',selectMonths:true,selectYears:30}]"/>
        </div>
        <div class="col m4 s12">
          <p>
            <input id="itemInWarranty" type="checkbox" >
            <label for="itemInWarranty">In Warranty?</label>
          </p>
        </div>
        <div class="input-field col m12 s12">
          <label for="itemDescription" class="h4">Description *</label>
          <textarea id="itemDescription" class="materialize-textarea" formControlName="itemDescription"></textarea>
          <span class="center brown-text" *ngIf="createAdForm.get('itemDescription').touched && createAdForm.get('itemDescription').errors">
            Product's description is required
          </span>
        </div>

        <div class="input-field col m12 s12">
          <label for="adLocation" class="h4 active">Ad Location *</label>
          <input type="text" id="adLocation" #googleSearch>
        </div>

        <div class="input-field col m6 s6" *ngIf="createAdForm.get('adCountry').value" disabled="disabled">
          <label for="adLocation" class="h4 active">Country *</label>
          <input type="text" id="adCountry" formControlName="adCountry" disabled="disabled">
        </div>
        <div class="input-field col m6 s6" *ngIf="createAdForm.get('adState').value">
          <label for="adLocation" class="h4 active">State *</label>
          <input type="text" id="state" formControlName="adState" disabled="disabled">
        </div>
        <div class="input-field col m6 s6" *ngIf="createAdForm.get('adCity').value" disabled="disabled">
          <label for="adLocation"  class="h4 active">City *</label>
          <input type="text" id="adCity" formControlName="adCity" disabled="disabled">
        </div>
        <div class="input-field col m6 s6" *ngIf="createAdForm.get('adPinCode').value">
          <label for="adLocation" class="h4 active">Zip Code *</label>
          <input type="text"  id="adPinCode" formControlName="adPinCode" disabled="disabled">
        </div>
        <div class="input-field col m6 s6">
          <label for="adLocation" class="h4 active">Email Address *</label>
          <input type="text" id="adEmail" placeholder="" formControlName="adEmail">
        </div>
        <div class="input-field col m6 s6">
          <label for="adLocation" class="h4 active">Contact Number *</label>
          <input type="text" id="adContact" placeholder="" formControlName="adContact">
        </div>
        <div class="col m12 s12 center-align">
          <button type="submit" [disabled]="!createAdForm.valid" class="waves-effect waves-light btn-large">Create</button>
        </div>
      </form>
    </div>
  </div>
