.ui-loader-background {
  width:100%;
  height:100%;
  top:0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index:100;
}

#wyreLoader {
  position: absolute;width: 100%;top:50%;z-index: 105;
}
.style1{
  font-family: 'Roboto';
}

.mediumLight{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300
}

.collapseOnClick{display: none}
