<header>
<nav *ngIf="showHeader" class="grey darken-2">
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo">{{title}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="!userToken">
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/register']">Register</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down" *ngIf="userToken">
      <!--<li><a [routerLink]="['/manage']">EDIT</a></li>-->
      <li><a [routerLink]="['/profile']">PROFILE</a></li>
      <li><a (click)="logout()">LOGOUT {{logedInUserName | uppercase}}</a></li>
    </ul>
  </div>
</nav>
<div class="ui-loader-background" *ngIf="loading">
  <div class="progress" id="wyreLoader">
    <div class="indeterminate"></div>
  </div>
</div>

<div class="card-panel center white-text" collapse-on-click *ngIf="displayerror" style="background-color: #ee6e73">
  <h6>{{displayerror}}</h6>
</div>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
