<section id="contact-form">
    <div class="row">
      <div class="section-title">
        <h2><i class="fa fa-user"></i>Login</h2>
      </div>
      <div class="contact-form z-depth-1" id="contact">

        <div class="row">
          <div class="col s6 offset-s3">
            <form [formGroup]="loginForm" (submit)="login()">
              <div class="input-field col s12">
                <input id="email" type="text" formControlName="username" class="validate">
                <label for="email">Email</label>
                <span *ngIf="loginForm.get('username').touched && !loginForm.controls.username.valid">
                      <span *ngIf="loginForm.get('username').hasError('required');else emailNotValid">
                                  <h6 class="pink-text text-lighten-1">This field is required</h6>
                      </span>
                       <ng-template #emailNotValid>
                            <h6 class="pink-text text-lighten-1">Invalid email format</h6>
                      </ng-template>
                </span>
              </div>
              <div class="input-field col s12">
                <input type="password" class="validate" id="password" formControlName="password">
                <label for="password">Password</label>
                <span *ngIf="loginForm.get('password').touched && !loginForm.controls.password.valid">
                  <span *ngIf="loginForm.get('password').hasError('required') ;else passwordLenghtValidation">
                                   <h6 class="pink-text text-lighten-1">Password is required</h6>
                  </span>
                <ng-template #passwordLenghtValidation>
                  <h6 class="pink-text text-lighten-1">This field is required and should be of 4 digits</h6>
                </ng-template>
                </span>
              </div>
              <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light btn-large">Login</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

</section>
